# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Flori\Desktop\Agent-based modelling\Lab_Assignment2_ABMS\Lab_Assignment2_ABMS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
